.comments {
  display: flex;
  justify-content: center;
}

.comments p {
  width: 300px;
  height: auto;
  font-size: smaller;
  margin: 15px;
}
.review {
  width: fit-content;
  height: fit-content;
  background-color: #e8ecd9;
  margin: 0 12px;
  box-shadow: 2px 2px 3px black;
  border: 12px;
  border-radius: 14px;
}

.test {
  margin-bottom: 30px;
}
